<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nagrafo </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game-estilo.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Icons/uzumaki.png') }}">
</head>

<body class="game-body">
    <h class="outer-titulo">
        <h2 class="titulo-maneiro">
            <img src="../static/Icons/Shuriken-4-tips.png" alt="Icon" class="titulo-maneiro-icon">
            NAGRAFO
            <img src="../static/Icons/Shuriken-4-tips.png" alt="Icon" class="titulo-maneiro-icon">
        </h2>
    </h>

    <div class="board">
        <img src="../static/images/pergaminho.png" alt="Icon" class="pergaminho-board">
        <div class="div-Teste-outer"> 
            <div class="char-origem-titulo">
                <div class="title-origem">origem</div>
                <div class="title-destino">destino</div>
            </div>
            <div class="div-Teste div-Teste-Cima" id="barra">
                <div class="char-display char-display-origem" id="origem">  </div>
                <div class="char-display char-display-destino" id="destino"> </div>
            </div>
        </div>
        
    </div>
    <div class="outer-perga">

            <div class="perga-container">   

                <div class="perga-mid-options">Personagens</div>

                <div class="div-Teste div-Teste-options">
                    <button class="char-display char-display-options"> </button>
                    <button class="char-display char-display-options"> </button>
                    <button class="char-display char-display-options"> </button>
                    <button class="char-display char-display-options"> </button>
                    <button class="char-display char-display-options"> </button>
                </div>
            </div>
        
        <img src="../static/images/pergaminho-verde.png" alt="Icon" class="pergaminho-perga">
    </div>

    <script src="{{ url_for('static', filename='js/front.js') }}" type="module"></script>

    <!-- Modal de fim de jogo -->
    <div id="endGameModal" class="modal">
        <div class="modal-content">
            <h2 id="modalTitle">Fim de Jogo</h2>
            <p id="modalMessage"></p>
            <button id="modalButton" class="modal-btn">Jogar Novamente</button>
        </div>
    </div>
</body>

</html>
