<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nome do game </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body class="game-body">

<div class="div-Teste" id ="barra">

    <div class="char-display" id="origem">  </div>
    <div class="char-display" id="destino">  </div>   
    
</div>

<div class="perga-container">
<div class="div-Teste div-Teste-options">

<button class="char-display char-display-options" >  </button>
<button class="char-display char-display-options" >  </button>
<button class="char-display char-display-options" >  </button>   
<button class="char-display char-display-options" >  </button>   
<button class="char-display char-display-options" >  </button>   


</div>

</div>
    
    <script src="{{ url_for('static', filename='js/front.js') }}" type="module"></script>
    <!-- Modal de fim de jogo -->
<div id="endGameModal" class="modal">
  <div class="modal-content">
    <h2 id="modalTitle">Fim de Jogo</h2>
    <p id="modalMessage"></p>
    <button id="modalButton" class="modal-btn">Jogar Novamente</button>
  </div>
</div>

</body>
</html>