<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortest-path-game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina-inicial-estilo.css') }}">
</head>
<body class="play-body">

    <div class="container">
       <h1 class="titulo-maneiro">GRAFO DO NARUTO</h1>
        
        <div class="regras">
            <h2 class="regras-titulo">R EG R AS :</h2>
            <p class = "regras-explicacao">
                O objetivo é encontrar o caminho mais curto de relações entre dois personagens do universo de Naruto.
            </p>
             <p class = "regras-subcontainer">
                <p class="regras-regras-individuais">
                    Regra 1;
                </p>   
                <p class="regras-regras-individuais">
                    Regra 1;
                </p> 
                 <p class="regras-regras-individuais">
                    Regra 1;
                </p> 
            </p>
        </div>

        <a href="/game" class="botao-play">Jogar</a>
    </div>

</body>
</html>